h1{
    text-align: center;
    color: rgb(123, 10, 229);
}
.container{
    background-color:rgb(123, 10, 229);
    width:fit-content ;
    margin: auto;
}
label{
    color: whitesmoke;
}
th,td{
    color: whitesmoke;
    padding: 7px;
}
.main{
    padding: 5px;
}


